@import url('https://fonts.googleapis.com/css2?family=Tauri&display=swap');

:root{
    --background: #f5f5f5;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Tauri";
  }

  .body{
    background-color: var(--background);
  }

  .tauri-regular {
    font-family: "Tauri", sans-serif;
    font-weight: 400;
    font-style: normal;
  }